body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}
#container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    display: block;
}
#header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

#header p {
    font-size: 1em;
    margin-bottom: 1em;
    color: #AAAAAA;
}
#grid {
    display: none;
    grid-template-columns: repeat(52, 5px);
    gap: 1px;
    margin-top: 20px;
    justify-content: center;
}
.cell {
    width: 5px;
    height: 5px;
    background-color: #444;
    border-radius: 1px;
}
.lived {
    background-color: #927d5c;
}
#resetLink {
    display: none;
    margin-top: 20px;
    color: #927d5c;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}
input[type="date"], button {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
input[type="date"] {
    color: #000;
}
button {
    background-color: #927d5c;
    color: white;
    cursor: pointer;
}
